// $static:"/admin/static";
$static:"/static";
// base
@import "base/color";
@import "base/base";
@import "base/mixin";
@import "base/reset";
@import "base/iconfonts";



.header{
    font-size: 20px
}
.tips{
    font-size: 12px
}
.inputSel{
    display: inline-block;
    width: 300px
}
.tips{
    font-size: 12px;
    color: rgb(175, 175, 175)
}
.center-row{
    display: flex;
    align-items: center;
}
body{
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.flex-center{
    display: flex;
    align-items: center;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #5757571f;
    z-index: 999;
    box-shadow: 0px 0px 4px 2px #57575738;
}